<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= titleKey %>
        </h1>
    </div>


    <div class="box">
        <% toDoKeys.forEach(function(element) { %>

            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="deleteCheckbox" value=<%=element._id%> >
                    <p>
                        <%= element.name; %>
                    </p>
                </div>
                <input type="hidden" name="titleName" value=<%=titleKey %>></input>
            </form>
            <% })%>



                <!-- will send this form as a post request to home(/) which will be handled by 1 post handler-->
                <form action="/" method="post" class="form-signin">
                    <img class="mb-4" src="images/free.png" alt="" width="72">
                    <input type="text" class="form-control top" name="inputItem" placeholder="New things" required>
                    <!-- make the value to be dynamic. we are passing this value from our app.js on rendering
                         its a variable called titleKey -->
                    <button type="submit" name="titleName" value=<%=titleKey %>>+</button>
                </form>
    </div>

    <%- include("footer") -%>